In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Iris.csv')
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [3]:
df.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [4]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
df.sample(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
99,100,5.7,2.8,4.1,1.3,Iris-versicolor
64,65,5.6,2.9,3.6,1.3,Iris-versicolor
21,22,5.1,3.7,1.5,0.4,Iris-setosa
79,80,5.7,2.6,3.5,1.0,Iris-versicolor
62,63,6.0,2.2,4.0,1.0,Iris-versicolor
88,89,5.6,3.0,4.1,1.3,Iris-versicolor
3,4,4.6,3.1,1.5,0.2,Iris-setosa
38,39,4.4,3.0,1.3,0.2,Iris-setosa
57,58,4.9,2.4,3.3,1.0,Iris-versicolor
41,42,4.5,2.3,1.3,0.3,Iris-setosa

In [6]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [7]:
df.shape

(150, 6)

In [8]:
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [9]:
print(df[10:21])

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa

In [10]:
sliced_df=df[10:21]
print(sliced_df)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa

In [11]:
specific_df=df[["Id","Species"]]

In [12]:
print(specific_df.head(10))

   Id      Species
0   1  Iris-setosa
1   2  Iris-setosa
2   3  Iris-setosa
3   4  Iris-setosa
4   5  Iris-setosa
5   6  Iris-setosa
6   7  Iris-setosa
7   8  Iris-setosa
8   9  Iris-setosa
9  10  Iris-setosa

In [13]:
SepalLengthCm=df['SepalLengthCm'].values
SepalLengthCm[0]

5.1

In [14]:
SepalLengthCm_mean=np.mean(SepalLengthCm) #METHOD1
print(SepalLengthCm_mean)

SepalLengthCm_median=np.median(SepalLengthCm)
print(SepalLengthCm_median)

SepalLengthCm_standardvariance=np.std(SepalLengthCm)
print(SepalLengthCm_standardvariance)

SepalLengthCm_Variance=np.var(SepalLengthCm)
print(SepalLengthCm_Variance)

5.843333333333334
5.8
0.8253012917851409
0.6811222222222223

In [15]:
mean_df=df["SepalLengthCm"].mean() #METHOD2
print(mean_df)

5.843333333333335

In [16]:
median_df=df["SepalLengthCm"].median() #METHOD2
print(median_df)

5.8

In [17]:
SepalWidthCm=df['SepalWidthCm'].values
SepalWidthCm[0]

3.5

In [18]:
SepalWidthCm_mean=np.mean(SepalWidthCm) #METHOD1
print(SepalWidthCm_mean)

SepalWidthCm_median=np.median(SepalWidthCm)
print(SepalWidthCm_median)

SepalWidthCm_standardvariance=np.std(SepalWidthCm)
print(SepalWidthCm_standardvariance)

SepalWidthCm_Variance=np.var(SepalWidthCm)
print(SepalWidthCm_Variance)

3.0540000000000003
3.0
0.4321465800705435
0.18675066666666668

In [19]:
PetalLengthCm=df['PetalLengthCm'].values
PetalLengthCm[0]

1.4

In [20]:
PetalLengthCm_mean=np.mean(PetalLengthCm) #METHOD1
print(PetalLengthCm_mean)

PetalLengthCm_median=np.median(PetalLengthCm)
print(PetalLengthCm_median)

PetalLengthCm_standardvariance=np.std(PetalLengthCm)
print(PetalLengthCm_standardvariance)

PetalLengthCm_Variance=np.var(PetalLengthCm)
print(PetalLengthCm_Variance)

3.758666666666666
4.35
1.7585291834055212
3.092424888888889

In [21]:
PetalWidthCm=df['PetalWidthCm'].values
PetalWidthCm[0]

0.2

In [22]:
PetalWidthCm_mean=np.mean(PetalWidthCm) #METHOD1
print(PetalWidthCm_mean)

PetalWidthCm_median=np.median(PetalWidthCm)
print(PetalWidthCm_median)
      
PetalWidthCm_standardvariance=np.std(PetalWidthCm)
print(PetalWidthCm_standardvariance)

PetalWidthCm_Variance=np.var(PetalWidthCm)
print(PetalWidthCm_Variance)

1.1986666666666668
1.3
0.7606126185881716
0.5785315555555555

In [23]:
df.count()

Id               150
SepalLengthCm    150
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150
dtype: int64

In [24]:
y=df[["Species"]]

In [25]:
print(y.head(150))

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [26]:
x=df[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]]

In [27]:
print(x.head(150))

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [28]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

In [30]:
x_train=x[:80]
y_train=y[:80]

x_test=x[80:]
y_test=y[80:]

In [31]:
x_train

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0             5.1           3.5            1.4           0.2
1             4.9           3.0            1.4           0.2
2             4.7           3.2            1.3           0.2
3             4.6           3.1            1.5           0.2
4             5.0           3.6            1.4           0.2
..            ...           ...            ...           ...
75            6.6           3.0            4.4           1.4
76            6.8           2.8            4.8           1.4
77            6.7           3.0            5.0           1.7
78            6.0           2.9            4.5           1.5
79            5.7           2.6            3.5           1.0

[80 rows x 4 columns]

In [32]:
y_train

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
75  Iris-versicolor
76  Iris-versicolor
77  Iris-versicolor
78  Iris-versicolor
79  Iris-versicolor

[80 rows x 1 columns]

In [33]:
x_test

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
80             5.5           2.4            3.8           1.1
81             5.5           2.4            3.7           1.0
82             5.8           2.7            3.9           1.2
83             6.0           2.7            5.1           1.6
84             5.4           3.0            4.5           1.5
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[70 rows x 4 columns]

In [34]:
y_test

             Species
80   Iris-versicolor
81   Iris-versicolor
82   Iris-versicolor
83   Iris-versicolor
84   Iris-versicolor
..               ...
145   Iris-virginica
146   Iris-virginica
147   Iris-virginica
148   Iris-virginica
149   Iris-virginica

[70 rows x 1 columns]